@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900);

.profile {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(191, 205, 222, 0.75);
  width: 250px;
  margin: 0 auto;
}

.description {
  padding: 30px 0px;
  text-align: center;
}

.avatar {
  display: block;
  border-radius: 50%;
  background-color: #000000;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  width: 99px;
  height: 99px;
  margin: 0 auto 20px;
}

.name {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #122236;
  font-weight: bold;
  margin-bottom: 20px;
}

.tag {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #768696;
  margin-bottom: 10px;
}

.location {
  composes: tag;
  margin-bottom: 0;
}

.stats {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e9f0;
  background-color: #f3f6f9;
}

.stats li {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 84px;
  padding: 20px 0px 20px 0px;
}

.stats li:nth-child(2) {
  width: 82px;
  border-color: #e4e9f0;
  border-left-style: solid;
  border-right-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #e4e9f0;
}

.label {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  color: #768696;
}

.quantity {
  font-size: 14px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #1f3349;
}
