.status {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 20px;
}

.item {
  display: flex;
  padding: 6px 0px 6px 20px;
  align-items: center;
  height: 60px;
  box-shadow: 1px 3px 3px 1px rgba(191, 205, 222, 0.75);
  margin-bottom: 10px;
  background-color: white;
}

.item:last-child {
  margin-bottom: 0px;
}

.avatar {
  border-radius: 5px;
  margin-right: 20px;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
